<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('manufacturePage')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Bikes
		</a>
	</div>
	<div class="col-md-6 text-right">
					<a type="button" href="/login">
						<button class="btn btn-default" style="margin-top: 10px; margin-bottom: 10px;">Login</button>
					</a>
					<a type="button" href="/signout">
						<button class="btn btn-default" style="margin-top: 10px; margin-bottom: 10px;">Sign Out</button>
					</a>

	</div>
</div>