
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="jumbotron">
<div class="text-center">
	<h1>Welcome To Ry's Dirtbike Shop</h1>

	<p>Below you will find a list for manufactures we carry!</p>
	<a href="{{url_for('newManufacture', manufacture_id = manufacture.id)}}"><button class="btn btn-success">Create A new Manufacture</button></a>
</div>
</div>

</br>
</br>

{% for m in manufacture %}


<a href="{{url_for('bikeByManufacturePage', manufacture_id = m.id)}}"><h3>{{m.name}}</h3></a>

<a href="{{url_for('editManufacture', manufacture_id = m.id)}}"><button class="btn btn-primary">Edit</button></a>
<a href="{{url_for('deleteManufacture', manufacture_id = m.id)}}"><button class="btn btn-danger">Delete</button></a>
</br>
</br>
{% endfor %}

{% endblock %}